.NavBar{
    background-color: darkorange;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 35px;
}