.ItemCount{
    display: flex;
}

.qty-box {
  border: 1px solid #b1bec9;
    background-color: #cbcbcb;
  border-radius: 3px;
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 200px;
}

.itemButton  {
  color: #151e26;
  font-family: sans-serif;
  float: left;
  line-height: 60px;
  text-align: center;
  width: calc(200px/3);
  -webkit-font-smoothing: antialiased;
}

.dec,
.inc {
  height: 100%;
  
}

.dec,
.inc:hover {
    cursor: pointer;
  }